

/*navbar style*/
.navbar{
  background-color: pink;
  text-align: center;
  padding: 10px;
}

.main-menu li{
  display:inline-block;
  padding: 10px 0px;
  margin-left: 10px;
  border-left: 1px solid white;
  width: 150px;
  /*color: white;*/
  font-size: 20px;
}



